<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="er7robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="camera_joint_1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['camera_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="camera_joint_2">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['camera_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="camera_joint_3">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['camera_joint_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="camera_joint_4">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['camera_joint_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="camera_joint_5">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['camera_joint_5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="camera_joint_6">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['camera_joint_6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="laser_joint_1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['laser_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="laser_joint_2">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['laser_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="laser_joint_3">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['laser_joint_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="laser_joint_4">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['laser_joint_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="laser_joint_5">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['laser_joint_5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="laser_joint_6">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['laser_joint_6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
